* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles. Not quite like normalizing through HTML*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    background: rgba(0, 0, 0, 0) url("http://www.zastavki.com/pictures/1920x1200/2011/Space_Space_planets_027475_.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: "Oswald", sans-serif;
}


/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/


/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.wrapper {
    background: #eee;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 28px 2px rgba(0, 0, 0, 0.75);
}

.wrapper h1 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5em;
    color: darkblue;
}

.wrapper form {
    margin-top: 2em;
}

.wrapper form #query {
    display: block;
    border: 1px solid #434343;
    background: none;
    padding: .3em;
    font-size: 1.5em;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.wrapper form div {
    margin-top: 1em;
    text-align: center;
}


/* Button generator */

.wrapper form div .myButton {
    -moz-box-shadow: 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow: 0px 1px 0px 0px #cf866c;
    box-shadow: 0px 1px 0px 0px #cf866c;
    background-color: darkblue;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid darkblue;
    display: inline-block;
    cursor: pointer;
    color: #eee;
    font-family: arial;
    font-size: 1.5em;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #999;
}

.wrapper form div .myButton:hover {
    background-color: #bc3315;
}

.wrapper form div .myButton:active {
    position: relative;
    top: 1px;
}

.wrapper #search-results ul {
    overflow: hidden;
    margin-top: 1em;
    list-style-type: none;
}

.wrapper #search-results li {
    float: left;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid darkblue;
    border-radius: 10px;
    color: darkblue;
}

.wrapper #search-results li img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.wrapper #search-results li p {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #434343;
    min-height: 4rem;
}


/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/

@media only screen and (min-width: 500px) {
    #search-results li {
        width: 48%;
        float: left;
        clear: both;
    }
    #search-results li:nth-child(2) {
        float: right;
        clear: none;
    }
}